body {
  font-family: $font-family;
}

h1 {
  @include fontSizeAdaptive(36px, 96px);
  font-weight: 900;
}

h2 {
  @include fontSizeAdaptive(32px, 64px);
  font-weight: 700;
}

a {
  color: black;
  text-decoration: none;
}

svg {
  width: 32px;
  height: 32px;
}
