// Адаптивный шрифт
@function vw($pixel, $defaultWidth: 1920px) {
  @return $pixel * (100 / $defaultWidth) * 1vw;
}

@function calcVw($minPixel, $pixel) {
  $addPixel: vw($pixel - $minPixel);
  @return #{'calc(#{$minPixel} + #{$addPixel})'};
}

@mixin fontSizeAdaptive($minPixel, $pixel) {
  font-size: $minPixel;
  font-size: calcVw($minPixel, $pixel);

  @media (max-width: 380px) {
    font-size: $minPixel;
  }
}

// example usage
//
// .selector {
//      @include fontSizeAdaptive(12px, 20px);
// }

@mixin responsive-padding($min-width, $max-width, $padding) {
  @media screen and (min-width: $min-width) and (max-width: $max-width) {
    padding: $padding;
  }
}

@mixin flex-wrap-max-width(
  $max-width,
  $wrap-value: wrap,
  $nowrap-value: nowrap
) {
  @media (max-width: $max-width) {
    flex-wrap: $wrap-value;
  }
  flex-wrap: $nowrap-value;
}
